:root {
    /*============ Colores ===========*/
    --color-oscuro-titulo-h1: #ededed;
    --color-oscuro-titulo-h2: #00abf0;
    --color-oscuro-titulo-h3: #ededed;
    --color-oscuro-texto: #ededed;
    --color-oscuro-texto-2: #00abf0;
    --color-oscuro-menu:#ededed;
    --color-oscuro-icons:#ededed;
    --color-oscuro-icons-2:#00abf0;
    --color-oscuro-menu-hover: #00abf0;
    --color-oscuro-texto-botones-hover:#081b29;
    --color-oscuro-active:#00abf0;
    --color-oscuro-fondo-botones-hover: #00abf0;
    --color-oscuro-fondo-botones:transparent;
    --color-oscuro-fondo-principal: #081b29;
    --color-oscuro-fondo-cards: #13263a;
    --color-oscuro-bordes:#00abf0;

    /*============ Tamaños ===========*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--color-oscuro-fondo-principal); */
    background: linear-gradient(to left, #172c42,#081b29);
    color: var(--color-oscuro-texto);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-oscuro-titulo-h1);
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-oscuro-titulo-h2);
}

h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-oscuro-titulo-h3)
}

/*========================== HEADER =======================*/
.header {
    width: 100%;
    min-width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 3%;
    gap: 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    color: var(--color-oscuro-texto);
    /* background: var(--color-oscuro-fondo-principal); */
    background: linear-gradient(to left, #172c42,#081b29);
}

.languages {
    min-width: 120px;
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
}

.language {
    position: relative;
    transition: 0.3s;
}

.language.active::after {
    content: ' ';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--color-oscuro-active);
    border-radius: 2px;
}

.menu-res {
    display: none;
}

.logo,
.menu {
    min-width: 160px;
    flex: 4;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
}

.logo a {
    color: var(--color-oscuro-texto);
    font-weight: 600;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: center;
    gap: 20px;
}

.menu-nav a {
    color: var(--color-oscuro-menu);
    font-weight: 500;
    transition: .3s;
}

.menu-nav a:hover,
.menu-nav a.active {
    color: var(--color-oscuro-active);
}

/*========================== HOME =======================*/
.home {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12% 10% 60px;
}

.home p {
    font-size: 18px;
}

.home-content,
.photo-content {
    min-width: 300px;
    min-height: 55vh;
    flex: 1;
}


.home-content p {
    margin: 20px 0 40px;
}

.redes {
    margin: 5% 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.redes svg {
    fill: var(--color-oscuro-icons-2);
    width: 70px;
    height: 70px;
    transition: 0.4s;
}

.redes svg:hover {
    fill: var(--color-oscuro-icons);
    transform: scale(1.1);
}


.buttons-box {
    width: 20rem;
    height: 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 9rem;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-oscuro-texto-2);

    background: transparent;
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 7px;
}

.buttons-box a:hover {
    background-color: var(--color-oscuro-active);
    color: var(--color-oscuro-fondo-principal);
    transition: 0.4s;
}

.photo-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.photo-content img {
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
  
}

.aboutme,
.technologies,
.projects,
.contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 10vh 10% 0;
    gap: 20px;

}

/*========================== ABOUT ME =======================*/
.aboutme-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.aboutme-description,
.aboutme-skills {
    min-width: 300px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    line-height: 1.6;
}

/*========================== TECHNOLOGIES =======================*/
.technologies-content,
.project-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.technology-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.technology-block {
    width: 100%;
    height: auto;
    min-height: 270px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5%;

    background-color: var(--color-oscuro-fondo-cards);
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 7px;
}

.technology {
    width: 80px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: 0.4s;
}

.technology svg {
    width: 52px;
}

.technology:hover {
    transform: scale(1.1);
}


/*================ Proyectos ================*/
.project-content {
    padding: 5% 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5%;

    overflow: hidden;
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 10px;
    background: linear-gradient(45deg,#172c42,#081b29);
}

.project-technologies {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-img {
    width: 300px;
    overflow: hidden;
    object-fit: contain;
    display: flex;
    justify-content: center;
    border-radius: 7px;

}

.project-img img {
    width: 300px;
}

.enlaces {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 5%;
}

.enlace {
    width: 110px;
}

.enlace a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-oscuro-texto);
    padding: 5px;
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 7px;
}

.enlace a:hover {
    background-color: #00abf0;
    color: var(--color-oscuro-texto-botones-hover);
    transition: 0.4s;
}

.technology-button {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 9px;
}

.technology-button svg {
    width: 24px;
    fill: var(--color-oscuro-icons);
}

/*=================== Contact Form ================*/
form {
    box-sizing: border-box;
    margin: 0;
    padding: 3em 2.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    text-shadow: 0 1px 2px;
    background-color: #13263a;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 10px;

}

form button {
    margin: 0;
    width: 8rem;
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding: 10px 5px;

    font-size: 18px;
    color: var(--color-oscuro-texto);
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 7px;
    background-color: transparent;
}

form button:hover {
    transition: 0.4s;
    background-color: var(--color-oscuro-fondo-botones-hover);
    color: var(--color-oscuro-texto-botones-hover);
    cursor: pointer;
}

.button-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#form-message {
    display: none;
}

input,
textarea {
    width: 18rem;
    height: auto;
    padding: 0.5em 1em;
    border: 0;
    font-size: 1.2em;
    color: var(--color-oscuro-texto);
    background: transparent;
}

fieldset {
    padding: 0;
    border: 2px solid var(--color-oscuro-bordes);
    border-radius: 5px;
}

fieldset:focus-within {
    border-color: #ededed;
}

input:focus,
textarea:focus {
    outline: 0;
}

legend {
    margin-left: 0.75em;
    padding-inline: 0.5em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer a {
    color: var(--color-oscuro-texto);
}


@media(max-width:800px) {

    .menu-res {
        display: block;
        cursor: pointer;
    }

    .menu-res .lineas {
        width: 30px;
        height: 3px;
        background-color: var(--color-oscuro-texto);
        margin: 6px 0;
    }

    .menu {
        display: grid;
        place-items: center;

        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background: linear-gradient(to left, #172c42,#081b29);
        clip-path: circle(0% at top right);
        transition: clip-path 0.4s ease-in-out;
        z-index: 20;
    }

    .menu.active .nav-link:target {
        clip-path: circle(150% at top right);
    }

    /* Clase para mostrar el menú */
    .menu.active {
        clip-path: circle(150% at top right);
    }

    /* Navegación */
    .menu-nav {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
    }

    .nav-link {
        margin: 10px 0;
        font-size: 1.2rem;
    }
}

